

:root{
    --useleft:90vw;
    --calc:calc(90vw + 30px);
}
.app{
    position: absolute;
    /* 100%窗口高度 */
    height: 100vh;
    /* 弹性布局 水平+垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 搜索按钮 */
.search-btn{
    position: absolute;
    position: fixed;
    top: 25px;
    left: var(--useleft);
    z-index: 1;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}
.search-btn .fa{
    color: #fff;
    font-size: 22px;
}
/* 关闭按钮 */
.close-btn{
    position: fixed;
    text-align: center;
    cursor: pointer;
    width: 60px;
    height: 60px;
    line-height: 60px;
    /* position: absolute; */
    top: 25px;
    left: var(--useleft);
    z-index: 1;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}
.container{
    /* 固定定位 */
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 渐变背景 */
    background: linear-gradient(200deg,#6e86ee,#453c90);
    /* 将元素剪切为一个圆形 【25px表示圆的半径】 【50% 50%表示圆心位置】 */
    clip-path: circle(30px at var(--calc) 55px);
    /* 设置过渡 */
    transition: 0.4s;
}
.search-box{
    /* 默认宽度为0（隐藏） */
    width: 0;
    height: 50px;
    display: flex;
    border-bottom: 3px solid #fff;
    /* 溢出隐藏 */
    overflow: hidden;
    transition: 0.3s;
}
.search-box input{
    width: 100%;
    height: 50px;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    text-indent: 8px;
}
.search-box input::placeholder{
    color: rgba(255,255,255,0.7);
}
.search-box .fa{
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}
#search_btn:checked ~ .search-btn{
    display: none;
}
#search_btn:checked ~ .close-btn{
    display: block;
}
#search_btn:checked ~ .container{
    clip-path: circle(100%);
}
#search_btn:checked ~ .container .search-box{
    width: 400px;
} 


/* 当点击 #search_btn 时更改同级元素 .on-a display属性 */
#search_btn:checked ~ .on-a{
    display: inline;
}

/* 搜索结果框 */
.on-a{
    position:absolute;
    display: none;
    overflow-y: scroll;
    width: 400px;
    max-height: 200px;
    background-color: #fff;
    z-index: 98;
    margin-top: calc(50vh + 30px);
    align-self: flex-start;
    border-radius: 8px;
    box-shadow: 0px 8px 10px rgba(23,23,23,0.6);
}
/* 去掉搜索结果框的滚动条 */
.on-a::-webkit-scrollbar{
    display: none;
}
/* 存放a标签的父级，与.on-a宽度一致
   使.on-a不用display：flex的情况下，a标签左右居中 */
.a{
    /* border: 1px solid red; */
    z-index: 99;
    width: 400px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 11px;
}

/* margin-top向下移动
   position：relative使为类::before都作用与a标签 */
.a a{
    margin-top: 20px;
    text-decoration-line: none;
    position: relative;
    display: flex;
    align-items: center;
    width: 350px;
    height: 25px;
    background-color: rgba(255,254,249,0.6);
    box-shadow: 0px 0px 7px rgba(23,23,23,0.5);
    color: black;
    overflow: hidden;
    z-index: 9999;
    border-radius: 5px;
    
    transition: all 0.4s ease;
}/* transition设置所有属性变化时过度动画 */

/* 当鼠标移到到a标签上时使 box-shadow阴影变化 */
.a a:hover{
    box-shadow: 0px 0px 8px rgba(23,23,23,0.7);
}

/* a标签伪类::before  
   content为必加项
   transition设置transform的过渡动画 */
.a a::before{
    content: "";
    display: block;
    background-color: rgba(69,60,144,0.3);
    height: 40px;
    width: 150%;
    z-index: 999;
    position: absolute;
    left: -45px;
    transform: translateX(-100%) skew(40deg);
    transition: transform 0.5s linear;
}

/* 当鼠标移到到a标签上时,它的伪类::before中的属性
   transform发生变化 */
.a a:hover::before{
    transform: translateX(-1%) skew(40deg);
}